body{
    padding: 0;
    margin: 0;
}

/* 网页顶部 */
#top{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color:rgb(90, 160, 240);
    position: relative;
}
.top-title{
    position: absolute;
    left: 320px;
}

.top-title .title{
    margin: 0;
    padding: 0;
    line-height:60px; 
    color:#fff;
}
.top-list{
    position: absolute;
    left: 480px;
}
.top-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-list ul li{
    line-height: 60px;
    float: left;
    margin-right: 30px;
}
.top-list ul li a{
    text-decoration: none;
    color: #fff;
}
.top-search-box{
    position: absolute;
    left: 1000px;
    line-height: 60px;
    width: 280px;
    height: 60px;
}
.top-search-box input{
    outline: none;
    border: none;
    height:28px;
    width: 210px;
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
}
.top-search-box button{
    height: 30px;
    background-color: #eee;
    border: none;
    border-radius: 0 4px 4px 0;
}
.top-search-box input,button{
    float: left;
    position: relative;
    top:15px;
}
.top-right{
    position: absolute;
    left: 1360px;
}
.top-right a{
    line-height: 60px;
    text-decoration:none;
    font-size: 14px;
    color: #fff;
    font-weight: 550;
}




#middle .play-img{
    overflow: hidden;
    width: 1200px;
    height: 320px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top:80px;
    border-radius: 8px 8px 8px 8px;
}
#middle .play-img img{
    width: 1200px;
    height: auto;
}
#middle .album-show{
    width: 100%;
    height: auto;
    background-color: #eee;
    position: absolute;
    top: 430px;
}

#middle .album-show .show-title{
    height: 60px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color:skyblue;
}

#middle .album-box{
    width: 1200px;
    height: auto;
    overflow: hidden;
    position: relative;
    left: 50%;
    margin-left: -600px;
}
#albums{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#albums li{
    width: 220px;
    height: 280px;
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    margin: 0 10px 20px 10px;
    float: left;
    overflow: hidden;
}

#albums li .album-img,.album-title,.album-owner{
    width: 220px;
}
#albums li .album-img{
    height: 146px;
}
#albums li .album-img .img{
    display: block;
    height: 146px;
    width: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#albums li .album-title{
    height: 44px;
}
#albums li .album-title .title{
    display: block;
    padding: 10px 10px 10px 12px;
    text-decoration: none;
    color: black;
}
#albums li .album-owner{
    height: 54px;
    border-top: solid 1px #ccc;
}
#albums li .album-owner .owner{
    text-decoration: none;
    color: black;
    display: inline-block;
    line-height: 54px;
    color: #888;
}
#albums li .album-owner .datetime{
    float: right;
    padding-right: 10px;
    line-height: 54px;
    font-size: 14px;
    color: #888;
}
/* 点赞收藏 */
.album-info{
    height: 30px;
    line-height: 30px;
}
.album-like,.album-collect{
    display: inline-block;
    height: 16px;
    width: 18px;
    
}
.album-info .album-like{
    text-decoration: none;
    background-image: url('/static/imgs/albumBg.png');
    background-position: -110px -50px;
    margin-left: 120px;
    margin-right: 4px;
    cursor: pointer;
}
.album-info .like{
    background-position: -110px -66px;
}
.album-info .album-collect{
    text-decoration: none;
    background-image: url('/static/imgs/albumBg.png');
    background-position: -110px -100px;
    margin-left: 10px;
    margin-right: 4px;
    cursor: pointer;
}
.album-info .collected{
    background-position: -110px -116px;
}
.album-info span{
    font-size: 14px;
    color: #888;
}