<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/index.js"></script>

</head>
<body>
    <div id="top">
        <div class="top-title">
            <h2 class="title">摄影圈</h2>
        </div>
        <div class="top-list">
            <ul>
                <li>
                    <a href="/index">首页</a>
                </li>
                <li>
                    <a class="userCenter" href="#">个人中心</a>
                </li>
                <li>
                    <a href="#">我的动态</a>
                </li>
                <li>
                    <a class="add-album" href="#">上传图片</a>
                </li>
            </ul>
        </div>
        <div class="top-search-box">
            <input type="text" placeholder="搜索相册" id="search-content">
            <button id="search-btn">搜索</button>
        </div>
        <div class="top-right">
            
        </div>
        
    </div>
    <div id="middle">
        <div class="play-img">
            <img src="/static/imgs/top-img2.jpg" alt="">
        </div>
        <div class="album-show">
            <div class="show-title">
                <p>-热门推荐-</p>
            </div>
            <div class="album-box">
                <ul id="albums">
                    
                </ul>
                
            </div>

        </div>
    </div>
         
    </script>
</body>
</html>